.jumbotron{
    height: 15px; 
    margin-bottom: 6rem;
    /* background-color:#c8e1ff; */

}

.hr{

    border-top: 2px solid rgba(17, 22, 29, 0.26);
}

h1{
    font-size: 2rem; font-weight: 500; 
    color: #535b64; 
    font-family: Arial, Helvetica, sans-serif;
}

h6{
    margin-top: 2%;
}
.fa-cloud-sun {
    font-size: 342%;
    text-align: center;
    margin-left: 42%;
    color: #586069;  
}

.uvIndex{
    background-color: indianred;
    color: white;
}


.fiveCast{
    color: white;
}
.card{
    border: none;
}
.WeatherBody{
    background-color: #f6f8fa;
   
}
